### 1.	Create a script that will read and parse the given files and remove duplicates using python, then write back into a single CSV

In [1]:
import pandas as pd

##### read in txt files

In [2]:
df1 = pd.read_csv(r"C:\Users\charl\Downloads\AntraAzureDataEngineerTraining\PythonLearning\AntraPython20220510T004150Z-001\people\people_1.txt",
                  sep = "\t", header = 0)
df2 = pd.read_csv(r"C:\Users\charl\Downloads\AntraAzureDataEngineerTraining\PythonLearning\AntraPython20220510T004150Z-001\people\people_2.txt",
                  sep = "\t", header = 0)

In [3]:
type(df1)

pandas.core.frame.DataFrame

In [4]:
df1.head()

,FirstName,LastName,Email,Phone,Address
0,Matthew,Williams,Matthew.Williams@email.com,053-278-8309,No.0532 Williams Lane
1,MATTHEW,WILLIAMS,Matthew.Williams@email.com,0532788309,#0532 Williams Lane
2,MATTHEW,williams,Matthew.Williams@email.com,0532788309,0532 Williams Lane
3,Louise,Rodriguez,Louise.Rodriguez@email.com,553-981-1593,No.5539 Rodriguez Lane
4,Charles,Smith,Charles.Smith@email.com,523-381-5730,No.5233 Smith Lane

In [5]:
df2.head()

,FirstName,LastName,Email,Phone,Address
0,Charles,Jackson,Charles.Jackson@email.com,593-500-2937,No.5935 Jackson Lane
1,CHARLES,JACKSON,Charles.Jackson@email.com,5935002937,#5935 Jackson Lane
2,CHARLES,jackson,Charles.Jackson@email.com,5935002937,5935 Jackson Lane
3,Louise,Anderson,Louise.Anderson@email.com,786-790-6529,No.7867 Anderson Lane
4,Sarah,Rodriguez,Sarah.Rodriguez@email.com,844-187-5552,No.8441 Rodriguez Lane

##### Define functions to perform all the necessary cleaning step

##### Create a function to format all the names

In [6]:
def NameCleaning(dflist):
    list = []
    for element in dflist:
        element = element.strip()
        FirstLetter = element[0]
        OtherLetter = element[1:]
        FirstLetter = FirstLetter.upper()
        OtherLetter = OtherLetter.lower()
        element = FirstLetter + OtherLetter
        list.append(element)
    return list

##### Create a function to format all the phone numbers

In [7]:
def PhoneCleaning(dflist):
    list = []
    for number in dflist:
        number = number.strip()
        number = number.replace("-", "")
        # assert (len(number) == 9), "not valid phone number!"
        # this line generating trouble tried to trouble shoot
        #if len(number) != 9:
        #    print(str(number) + " " + str(dflist[number]))
        number = number[-8:]
        list.append(number)
    return list

##### Create a function to format Address

In [8]:
def AddressCleaning(dflist):
    list = []
    for address in dflist:
        address = address.strip()
        address = address.replace("No.", "")
        address = address.replace("No", "")
        address = address.replace("#", "")
        list.append(address)
    return list

##### Perform the transformation

In [9]:
df1["FirstName"] = NameCleaning(df1["FirstName"])
df2["FirstName"] = NameCleaning(df2["FirstName"])
df1["LastName"] = NameCleaning(df1["LastName"])
df2["LastName"] = NameCleaning(df2["LastName"])

In [10]:
df1["Address"] = AddressCleaning(df1["Address"])
df2["Address"] = AddressCleaning(df2["Address"])

In [11]:
df1["Phone"] = PhoneCleaning(df1["Phone"])
df2["Phone"] = PhoneCleaning(df2["Phone"])

##### Merge data

In [12]:
type(df1)

pandas.core.frame.DataFrame

In [13]:
df1.columns == df2.columns

array([ True,  True,  True,  True,  True])

In [14]:
df = pd.concat([df1, df2], axis = 0, join = "outer", ignore_index=True, keys = None)

In [15]:
df.head()

,FirstName,LastName,Email,Phone,Address
0,Matthew,Williams,Matthew.Williams@email.com,32788309,0532 Williams Lane
1,Matthew,Williams,Matthew.Williams@email.com,32788309,0532 Williams Lane
2,Matthew,Williams,Matthew.Williams@email.com,32788309,0532 Williams Lane
3,Louise,Rodriguez,Louise.Rodriguez@email.com,39811593,5539 Rodriguez Lane
4,Charles,Smith,Charles.Smith@email.com,33815730,5233 Smith Lane

In [16]:
df1.shape

(502212, 5)

In [17]:
df2.shape

(502091, 5)

In [18]:
df.shape

(1004303, 5)

##### Drop the duplicates columns

In [25]:
df_new = df.drop_duplicates(subset= "Phone", keep = "first")

In [26]:
df_new.shape

(995033, 5)

In [28]:
df_new.head(50)

,FirstName,LastName,Email,Phone,Address
0,Matthew,Williams,Matthew.Williams@email.com,32788309,0532 Williams Lane
3,Louise,Rodriguez,Louise.Rodriguez@email.com,39811593,5539 Rodriguez Lane
4,Charles,Smith,Charles.Smith@email.com,33815730,5233 Smith Lane
5,Lisa,Jones,Lisa.Jones@email.com,37591018,8037 Jones Lane
6,Greta,Jones,Greta.Jones@email.com,96258398,6796 Jones Lane
7,Ted,Thomas,Ted.Thomas@email.com,19050866,3019 Thomas Lane
8,Matthew,Gonzalez,Matthew.Gonzalez@email.com,22374649,5622 Gonzalez Lane
9,Zoey,Smith,Zoey.Smith@email.com,39505894,9439 Smith Lane
10,Charles,Brown,Charles.Brown@email.com,84721969,4484 Brown Lane
11,Ted,Anderson,Ted.Anderson@email.com,38580112,0038 Anderson Lane
12,Jennifer,Williams,Jennifer.Williams@email.com,37408034,2737 Williams Lane
13,Louise,Smith,Louise.Smith@email.com,85927227,2885 Smith Lane
14,Jake,Miller,Jake.Miller@email.com,79626516,4379 Miller Lane
15,Bob,Williams,Bob.Williams@email.com,78202005,1878 Williams Lane
16,Jennifer,Hernandez,Jennifer.Hernandez@email.com,24822821,6124 Hernandez Lane
17,Charles,Garcia,Charles.Garcia@email.com,24798760,3224 Garcia Lane
18,Greta,Davis,Greta.Davis@email.com,24474338,2624 Davis Lane
19,Zoey,Martinez,Zoey.Martinez@email.com,46746390,2646 Martinez Lane
20,Ted,Gonzalez,Ted.Gonzalez@email.com,76836495,9676 Gonzalez Lane
21,Matthew,Hernandez,Matthew.Hernandez@email.com,57775953,5657 Hernandez Lane
22,Lance,Miller,Lance.Miller@email.com,70268383,5670 Miller Lane
23,Jennifer,Jones,Jennifer.Jones@email.com,06600862,9806 Jones Lane
24,Zoey,Lopez,Zoey.Lopez@email.com,68263514,8868 Lopez Lane
25,Jake,Johnson,Jake.Johnson@email.com,70031744,1470 Johnson Lane
26,Lisa,Thomas,Lisa.Thomas@email.com,49327734,8249 Thomas Lane
27,Greta,Anderson,Greta.Anderson@email.com,46888303,2446 Anderson Lane
28,Elizabeth,Smith,Elizabeth.Smith@email.com,27305938,2927 Smith Lane
29,Robert,Taylor,Robert.Taylor@email.com,52450154,7552 Taylor Lane
30,Elizabeth,Thomas,Elizabeth.Thomas@email.com,95719462,7395 Thomas Lane
31,Lance,Martinez,Lance.Martinez@email.com,30119249,6330 Martinez Lane
32,Sarah,Williams,Sarah.Williams@email.com,81056031,0481 Williams Lane
33,Matthew,Rodriguez,Matthew.Rodriguez@email.com,05069177,5005 Rodriguez Lane
34,Lisa,Miller,Lisa.Miller@email.com,28471113,7828 Miller Lane
35,Louise,Moore,Louise.Moore@email.com,90675755,6290 Moore Lane
36,Zoey,Wilson,Zoey.Wilson@email.com,25545000,8925 Wilson Lane
37,Chance,Martinez,Chance.Martinez@email.com,68047728,5468 Martinez Lane
38,Ted,Hernandez,Ted.Hernandez@email.com,00367544,0000 Hernandez Lane
39,Robert,Anderson,Robert.Anderson@email.com,22264490,2522 Anderson Lane
40,Ted,Taylor,Ted.Taylor@email.com,06707697,9706 Taylor Lane
41,Jennifer,Wilson,Jennifer.Wilson@email.com,43088552,0543 Wilson Lane
42,Elizabeth,Jones,Elizabeth.Jones@email.com,63457505,1263 Jones Lane
43,Elizabeth,Lopez,Elizabeth.Lopez@email.com,09056741,0809 Lopez Lane
44,Jennifer,Lopez,Jennifer.Lopez@email.com,98656914,2398 Lopez Lane
45,Greta,Jones,Greta.Jones@email.com,54790353,8954 Jones Lane
46,Charles,Smith,Charles.Smith@email.com,07688465,2707 Smith Lane
47,Lance,Hernandez,Lance.Hernandez@email.com,97808611,9797 Hernandez Lane
48,Elizabeth,Miller,Elizabeth.Miller@email.com,71469286,4771 Miller Lane
49,Louise,Taylor,Louise.Taylor@email.com,66043095,6866 Taylor Lane
50,Louise,Williams,Louise.Williams@email.com,57633997,1857 Williams Lane
51,Sarah,Taylor,Sarah.Taylor@email.com,94699374,1694 Taylor Lane

In [31]:
df_new = df_new.sort_values(by = ['LastName', 'FirstName'])

In [32]:
df_new.head(50)

,FirstName,LastName,Email,Phone,Address
747912,Bob,Anderson,Bob.Anderson@email.com,02049600,9102 Anderson Lane
747954,Bob,Anderson,Bob.Anderson@email.com,50423252,5450 Anderson Lane
748060,Bob,Anderson,Bob.Anderson@email.com,04556345,7104 Anderson Lane
136641,Bob,Anderson,Bob.Anderson@email.com,11593764,1411 Anderson Lane
136789,Bob,Anderson,Bob.Anderson@email.com,84295593,6484 Anderson Lane
746676,Bob,Anderson,Bob.Anderson@email.com,45374711,5545 Anderson Lane
746716,Bob,Anderson,Bob.Anderson@email.com,60139607,6460 Anderson Lane
336852,Bob,Anderson,Bob.Anderson@email.com,11406652,6811 Anderson Lane
375881,Bob,Anderson,Bob.Anderson@email.com,53573491,7053 Anderson Lane
747337,Bob,Anderson,Bob.Anderson@email.com,64328688,7364 Anderson Lane
746917,Bob,Anderson,Bob.Anderson@email.com,13214028,3613 Anderson Lane
746320,Bob,Anderson,Bob.Anderson@email.com,30194136,8930 Anderson Lane
136559,Bob,Anderson,Bob.Anderson@email.com,06432815,9306 Anderson Lane
749953,Bob,Anderson,Bob.Anderson@email.com,81556739,9281 Anderson Lane
135853,Bob,Anderson,Bob.Anderson@email.com,23941469,4123 Anderson Lane
750694,Bob,Anderson,Bob.Anderson@email.com,29775916,0429 Anderson Lane
135706,Bob,Anderson,Bob.Anderson@email.com,03163354,2103 Anderson Lane
748987,Bob,Anderson,Bob.Anderson@email.com,33426304,2733 Anderson Lane
748721,Bob,Anderson,Bob.Anderson@email.com,42348204,7642 Anderson Lane
136438,Bob,Anderson,Bob.Anderson@email.com,46474804,2346 Anderson Lane
136397,Bob,Anderson,Bob.Anderson@email.com,72803288,9672 Anderson Lane
749453,Bob,Anderson,Bob.Anderson@email.com,63167523,0763 Anderson Lane
749208,Bob,Anderson,Bob.Anderson@email.com,44476890,9344 Anderson Lane
136136,Bob,Anderson,Bob.Anderson@email.com,86096457,7686 Anderson Lane
743758,Bob,Anderson,Bob.Anderson@email.com,66565959,9266 Anderson Lane
743860,Bob,Anderson,Bob.Anderson@email.com,21834332,2721 Anderson Lane
743916,Bob,Anderson,Bob.Anderson@email.com,26585901,1726 Anderson Lane
743492,Bob,Anderson,Bob.Anderson@email.com,61343540,6661 Anderson Lane
138773,Bob,Anderson,Bob.Anderson@email.com,42061173,8342 Anderson Lane
744360,Bob,Anderson,Bob.Anderson@email.com,49894755,7349 Anderson Lane
744233,Bob,Anderson,Bob.Anderson@email.com,01073023,8201 Anderson Lane
139222,Bob,Anderson,Bob.Anderson@email.com,88642894,9688 Anderson Lane
742805,Bob,Anderson,Bob.Anderson@email.com,79150714,2979 Anderson Lane
742528,Bob,Anderson,Bob.Anderson@email.com,13484923,4813 Anderson Lane
742616,Bob,Anderson,Bob.Anderson@email.com,76642937,7176 Anderson Lane
139306,Bob,Anderson,Bob.Anderson@email.com,28184576,2628 Anderson Lane
743319,Bob,Anderson,Bob.Anderson@email.com,85794777,8185 Anderson Lane
139283,Bob,Anderson,Bob.Anderson@email.com,78115531,3278 Anderson Lane
139294,Bob,Anderson,Bob.Anderson@email.com,90298841,1590 Anderson Lane
742961,Bob,Anderson,Bob.Anderson@email.com,87419365,2887 Anderson Lane
745773,Bob,Anderson,Bob.Anderson@email.com,17769358,2117 Anderson Lane
746090,Bob,Anderson,Bob.Anderson@email.com,12864116,0712 Anderson Lane
137878,Bob,Anderson,Bob.Anderson@email.com,28234966,6928 Anderson Lane
745982,Bob,Anderson,Bob.Anderson@email.com,24626972,9024 Anderson Lane
746050,Bob,Anderson,Bob.Anderson@email.com,57863571,4657 Anderson Lane
744524,Bob,Anderson,Bob.Anderson@email.com,56663716,5556 Anderson Lane
744561,Bob,Anderson,Bob.Anderson@email.com,15081860,8415 Anderson Lane
744601,Bob,Anderson,Bob.Anderson@email.com,37025615,5137 Anderson Lane
336776,Bob,Anderson,Bob.Anderson@email.com,59756839,1259 Anderson Lane
138247,Bob,Anderson,Bob.Anderson@email.com,48376011,1048 Anderson Lane

In [33]:
df_new.to_csv('PeopleCleanedV1.csv')